{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "no-underscore-dangle": "off",
        "arrow-parens": ["error", "as-needed"],
        "no-else-return": "off",
        "max-classes-per-file": "off",
        "class-methods-use-this": "off"
    }
}